.service {
    position: relative;
    padding: 80px 0;
    background-color: #EFEFEF;
    overflow-x: hidden;
    @include mq(sp) {
        padding: 46px 0 60px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(https://github.com/amahiro/coding04/blob/main/images/service-bg.png?raw=true);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include mq(sp) {
            background-image: url(https://github.com/amahiro/coding04/blob/main/images/service-sm.png?raw=true);
        }
    }

}
.service__inner {
    @include mq(sp) {
        padding: 0 40px;
    }
}
.service__heading {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    z-index: 10;
    @include mq(sp) {
        margin-bottom: 30px;
    }
}
.service__btn {
    position: relative;
    text-align: center;
    z-index: 10;
}
.service__image {
    margin-bottom: 43px;
    height: 136px;
    @include mq(sp) {
        margin-bottom: 40px;
    }
    @include mq(sp-sm) {
        margin-bottom: 20px;
    }
    > img {
        object-fit: contain;
        height: 100%;
    }
}
.service__title {
    display: inline-block;
    margin-bottom: 15px;
    line-height: 1.4;
    font-weight: bold;
    @include font-size(20);
    color: #F27E1A;
    @include mq(tab-sm) {
        @include font-size(18);
    }
    @include mq(sp) {
        margin-bottom: 20px;
        @include font-size(20);
    }
    @include mq(sp-sm) {
        @include font-size(16);
    }
}
.service__text {
    text-align: left;
    line-height: 1.6;
    @include font-size(16);
    color: #222222;
    margin-bottom: auto;
    @include mq(sp-sm) {
        @include font-size(14);
    }
}
.service__swiper-container {
    margin-bottom: 60px;
    overflow: visible;
    @include mq(sp) {
        margin-bottom: 50px;
    }
}
.service__swiper-wrapper {
    align-items: stretch;
}
.service__slide {
    width: 31%;
    height: auto;
    background-color: #fff;
    &.fadein {
        opacity: 0;
        @include mq(sp) {
            opacity: 1;
        }
    }
    &.scrollin {
        animation: fadein-bottom .5s ease-in-out 1 normal forwards;
        @include mq(sp) {
            animation: none;
        }
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay:  .15s * $i;
            }
        }
    }
    &:first-child {
        > .service__item {
            position: relative;
            &::before {
                content: 'New';
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                padding: 7px 20px;
                background-color: #F27E1A;
                font-weight: bold;
                @include font-size(17);
                color: #fff;
            }
        }
    }
}
.service__item {
    padding: 60px 37px 30px;
    text-align: center;
    @include mq() {
        padding: 50px 20px 30px;
    }
    @include mq(tab-sm) {
        padding: 50px 15px 30px;
    }
    @include mq(sp) {
        padding: 54px 30px 34px;
    }
    @include mq(sp-sm) {
        padding: 40px 15px 20px;
    }
}
.service__prev,
.service__next,
.service__pagination {
    display: none;
    @include mq(sp) {
        display: block;
    }
    &::after {
        content: none;
    }
}
.swiper-container-horizontal {
    >.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -20px;
        left: 50%;
        transform: translate(-50%,8px);
    }
}
.service__pagination {
    &.swiper-pagination {
        > .swiper-pagination-bullet-active {
            background-color: #F27E1A;
        }
    }
}
.service__prev {
    border-radius: 100vh;
    background-color: #F27E1A;
    width: 40px;
    height: 40px;
    left: 0;
    transform: translateX(-50%);
    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include font-size(24);
        color: #fff;
    }
}
.service__next {
    border-radius: 100vh;
    background-color: #F27E1A;
    width: 40px;
    height: 40px;
    right: 0;
    transform: translateX(50%);
    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include font-size(24);
        color: #fff;
    }
}
